body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;					/* FONDO COLOR (PAGINA COMPLETA) */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;						/* TEXTO TAMAÑO */
	color: #000000;}						/* TEXTO COLOR - NEGRO */

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: 0px;
	text-transform: regular;				/* TEXTO MINUSCULAS-MAYUSCULAS */
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #D20000;}						/* TEXTO COLOR - ROJO 1 */

h1 {	font-size: 2em;}

h2 {	font-size: 2.4em;}

h3 {	font-size: 1.6em;}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;}

ul, ol {}

a {	text-decoration: none;
	color: #D20000;}						/* TEXTO COLOR - ROJO 1 */

a:hover {}

/* ======================================= Header ======================================= */

#header-wrapper {}

#header {	clear: both;
	width: 1000px;
	margin: 0px auto;}

/* ======================================= Logo ======================================= */

#logo {	margin: 0px;
	padding: 10px 0px;
	color: #000000;}						/* TEXTO COLOR - NEGRO */

#logo h1, #logo p {
	margin: 0;
	padding: 0;}

#logo h1 {
	margin: 0px;
	padding: 0px;
	text-transform: regular;				/* TEXTO MINUSCULAS-MAYUSCULAS */
	font-size: 3em;							/* TEXTO TAMAÑO */
	color: #373737;}						/* TEXTO COLOR - CASI NEGRO */

#logo h1 span {
	color: #D20000;}						/* TEXTO COLOR - ROJO 1 */

#logo p {
	margin: 0px;
	padding: 0px;
	text-transform: regular;				/* TEXTO MINUSCULAS-MAYUSCULAS */
	font-family: 'Arvo', serif;
	color: #000000;}						/* TEXTO COLOR - NEGRO */

#logo p a {
	color: #000000;}						/* TEXTO COLOR - NEGRO */

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;}						/* TEXTO COLOR - NEGRO */

/* ======================================= Menu ======================================= */

#menu-wrapper {
	overflow: hidden;
	height: 50px;							/* ALTURA */
	background: #CBCBCB;}					/* FONDO COLOR (MENU) - GRIS */

#menu {
	width: 1000px;
	height: 50px;							/* ALTURA */
	margin: 0px auto;
	padding: 0px;}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;}

#menu li {
	float: left;							/* IMPORTANTE */
	border-right: 2px solid #FFFFFF;}		/* IMPORTANTE - COLOR */

#menu a {
	display: block;
	letter-spacing: 1px;					/* TEXTO ESPACIADO */
	line-height: 50px;						/* ALTURA */
	padding: 0px 30px;
	text-decoration: none;
	text-align: center;
	text-transform: regular;				/* TEXTO MINUSCULAS-MAYUSCULAS */
	font-family: 'Arvo', serif;
	font-size: 18px;						/* TEXTO TAMAÑO */
	font-weight: normal;					/* TEXTO ESTILO */
	color: #000000;							/* TEXTO COLOR - NEGRO */
	border: none;}

#menu a:hover, #menu .current_page_item a {
	background: #B94444;					/* FONDO COLOR (MENU-HOVER) - ROJO 2 */
	text-decoration: none;
	color: #FFFFFF;}						/* TEXTO COLOR - BLANCO */

#menu .current_page_item a {
	background: #B90000;}					/* FONDO COLOR (MENU-ELEGIDO) - ROJO 3 */

/* ======================================= Page ======================================= */

#page {
/*	background-color: #FF0000; 				/* FONDO COLOR (SECCION) */
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 10px 0px;}

/* ======================================= Content ======================================= */

#content {
	float: left;							/* IMPORTANTE */
	width: 1000px;}							/* IMPORTANTE */

.post {margin-bottom: 20px;}				/* IMPORTANTE */

.post-bgtop {}

.post-bgbtm {}

.post .title {
	height: 40px;							/* ALTURA */
	margin-bottom: 10px;					/* IMPORTANTE */
	padding: 12px 0 0 0px;
	font-size: 30px;}						/* TEXTO TAMAÑO */

.post .title a {
	border: none;
	color: #D20000;}						/* TEXTO COLOR - ROJO 1 */

.post .meta {								/* TEXTO META */
	font-size: 25px;
	text-align: justify;
	color: #D20000}

.post .epigrafe {							/* TEXTO EPIGRAFE */
	font-size: 14px;
	font-style: italic;
	text-align: center;
	color: #808080}

.post .referencias {						/* TEXTO REFERENCIAS */
	font-size: 16px;
	font-style: italic;
	text-align: left;
	color: #373737}

.post .resaltado {							/* TEXTO RESALTADO */
	font-size: 15px;
	font-style: regular;
	text-align: justify;
	color: #000000;
	background-color: #CDCDCD;}

.post .entry {								/* TEXTO ENTRY */
	text-align: justify;}					/* TEXTO ALINEACION */

/* ======================================= Footer ======================================= */

#footer {
	height: 30px;							/* ALTURA */
	margin: 0 auto;
	padding: 0px 0px 15px 0px;
	background: #CBCBCB;					/* FONDO COLOR (FOOTER) - GRIS */
/*	border-top: 5px solid #EBEBEB;			/* BORDE COLOR - GRIS CLARO */
	font-family: 'Arvo', serif;}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 14px;						/* TEXTO TAMAÑO */
	letter-spacing: 3px;					/* TEXTO ESPACIADO */
	text-transform: regular;				/* TEXTO MINUSCULAS-MAYUSCULAS */
	text-align: center;						/* TEXTO ALINEACION */
	color: #373737;}						/* TEXTO COLOR - CASI NEGRO */

/* #footer a {color: #8A8A8A;}				/* FONDO COLOR (FOOTER) */

/* ======================================= TABLE CREATOR: https://divtable.com/table-styler ======================================= */

div.MyTable {
	background-color: #FFFFFF;
	max-width: 100%;
/*	width: max-content;*/
/*	height: 80px;*/
	text-align: left;}

.divTableCell {
	border: 0px solid #AAAAAA;}

.divTable { display: table; }
.divTableRow { display: table-row; }
.divTableCell { display: table-cell;}
/* .divTableHeading { display: table-header-group;}
.divTableBody { display: table-row-group;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;} */

.meta {										/* TEXTO META */
	font-size: 25px;
	text-align: justify;
	color: #D20000}